@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-top: 10px;
  flex-wrap: nowrap;
  border-bottom: 2px solid #6ec1e4;
}

.header .logo {
  width: 100px;
  height: 68px;
  margin-left: 40px;
}
.header .nav {
  display: flex;
  align-items: center;
}

.header .nav ul {
  display: flex;
  align-items: center;
}

.header .nav ul li {
  margin-left: 40px;
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  color: #555555;
}
